body {
    background: linear-gradient(to bottom, #f4ebdf, #fae7fc);
    background-attachment: fixed;
    font-family: 'Pacifico', cursive;
}

.events-layout {
    display: flex;
    padding: 20px;
    margin: 30px auto;
    flex-direction: row;
}

.events-sidebar {
    width: 100px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.event-item {
    background-color: #f2e0c5;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border: #e76f51;
}

.event-button {
    background: none;
    border: none;
    font-size: 15px;
    font-family: 'Pacifico', cursive;
    color: #8a4d15;
    cursor: pointer;
    padding: 10px;
}

.event-button:hover {
    transform: translateY(-5px);
    color: #b54c1e;
}

.events-main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.events-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 20px;
}

.event-item:hover {
    transform: translateY(-10px);
}

.event-image {
    width: 180px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.event-caption {
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    color: #e9a970;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: flex-start;
    width: 100%;
}

@media (max-width: 480px) {
    .events-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
        padding: 20px;
    }
}