body {
    background: linear-gradient(to bottom, #f4ebdf, #fae7fc);
    background-attachment: fixed;
    font-family: 'Pacifico', cursive;
}

.favourites-container {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.favourites-title {
    font-size: 32px;
    font-weight: bold;
    color: #e59450;
    margin-bottom: 20px;
}

.favourites-items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
}

.favourites-products {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 2;
    width: 190px;
}

.favourites-products > * {
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.favourites-total {
    max-width: 300px;
    flex: 1;
    margin-right: 40px;
}
